.gitignore for ProyectoHotel
# Ignore NetBeans private project files
nbproject/private/

# Local OS files (optional)
Thumbs.db
Desktop.ini
/build/
/dist/
*.log

**/nbproject/private/

**/nbproject/userconfig.properties
*.jar